<div class="container">
  <!-- Row to contain the cards and center them -->
  <div class="row justify-content-center">
    <!-- Loop through tours -->
    @for( tour of tours; track tour.idTour; let index = $index){
    <div class="col-12 col-md-6 col-lg-4 my-3 d-flex justify-content-center">
      <div class="card" style="width: 100%">
        <img [src]="getImageForTour(index)" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ tour.nombre }}</h5>
          <p class="card-text">Descripcion: {{ tour.descripcion }}</p>
          <p class="card-text">Precio: ${{ tour.precio }}</p>
          @if(usuarioLogeado()){
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalMensaje"
            (click)="prepararOrden(tour)"
          >
            Suscribirse
          </button>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalMensaje"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Completar Datos</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarReserva
          (click)="limpiarDatosReserva()"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <jjwins-alert-messages> </jjwins-alert-messages>
        </div>
        <form #reservaForm="ngForm" (ngSubmit)="agregarOrden()">
          <div class="mb-3">
            <label for="fechaReserva" class="form-label">Fecha de Reserva</label>
            <input
              type="text"
              id="fechaReserva"
              name="fechaReserva"
              class="form-control"
              [(ngModel)]="reserva.fechaReserva"
              required
            />
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad de Peronas</label>
            <input
              type="number"
              id="cantidad"
              name="cantidad"
              class="form-control"
              [(ngModel)]="reserva.cantidad"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
