<div class="container">

      <!-- Tabla de tour -->
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <section id="Empleados">
        <div class="card">
          <div class="card-header bg-white py-4 d-flex justify-content-between">
            <div class="mt-2">
              <h4><i class="fa-solid fa-users mx-2"></i> Tour Registrados</h4>
            </div>
            <div>
              <jjwins-alert-messages> </jjwins-alert-messages>
            </div>
            <div class="ml-auto">
              <a
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalTour"
                (click)="nuevoTour()"
              >
                <i class="fa-solid fa-plus"></i> Agregar
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Capacidad</th>
                  <th>Fecha Creacion</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (tour of tours; track tour.idTour) {
                <tr>
                  <td>{{ tour.nombre }} </td>
                  <td>{{ tour.precio }}</td>
                  <td>{{ tour.capacidadMax }}</td>
                  <td>{{ tour.fechaCreacion | date : "longDate"  }}</td>
                  <td>
                    <a
                      class="btn btn-primary mx-2 my-2"
                      data-bs-toggle="modal"
                      data-bs-target="#modalTour"
                      (click)="prepararTour(tour)"
                    >
                      <i class="fas fa-angle-double-right"></i> Editar
                    </a>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>

<!-- Modal generar pago -->
<div
  class="modal fade"
  id="modalTour"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Completar Datos</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #botonCerrarTour
          (click)="limpiarDatosTour()"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <jjwins-alert-messages> </jjwins-alert-messages>
        </div>
        <form #tourForm="ngForm" (ngSubmit)="accionTour()">
          <div class="mb-3">
            <label for="tourNombre" class="form-label">Nombre</label>
            <input
              type="text"
              id="tourNombre"
              name="nombre"
              class="form-control"
              [(ngModel)]="tour.nombre"
            />
          </div>
          <div class="mb-3">
            <label for="tourDescrip" class="form-label">Descripcion</label>
            <textarea
              type="text"
              id="tourDescrip"
              name="descripcion"
              class="form-control"
              [(ngModel)]="tour.descripcion"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="tourDuracion" class="form-label">Duracion</label>
            <input
              type="text"
              id="tourDuracion"
              name="duracion"
              class="form-control"
              [(ngModel)]="tour.duracion"
            />
          </div>
          <div class="mb-3">
            <label for="tourPrecio" class="form-label">Precio</label>
            <input
              type="number"
              id="tourPrecio"
              name="precio"
              class="form-control"
              [(ngModel)]="tour.precio"
            />
          </div>
          <div class="mb-3">
            <label for="tourCap" class="form-label">Capacidad Maxima</label>
            <input
              type="number"
              id="tourCap"
              name="capacidadMax"
              class="form-control"
              [(ngModel)]="tour.capacidadMax"
            />
          </div>
          <!-- <div class="mb-3">
            <label for="tourFecha" class="form-label">Fecha Creacion</label>
            <input
              type="date"
              id="tourFecha"
              name="fechaCreacion"
              class="form-control"
              [(ngModel)]="tour.fechaCreacion "
            />
          </div> -->
          <div class="mb-3">
            <label for="tourLoc" class="form-label">Localizacion</label>
            <input
              type="text"
              id="tourLoc"
              name="localizacion"
              class="form-control"
              [(ngModel)]="tour.localizacion"
            />
          </div>

          <div class="modal-footer">
            @if(tour.idTour!= 0){
                <button
                  class="btn btn-danger"
                  (click)="eliminarTour(tour, $event)"
                >
                  <i class="fa-solid fa-trash"></i> Eliminar
                </button>
                }
                <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



