    <div class="container">
        
        <div class = "container text-center" style="margin: 30px ">
            <h2>Sistema de Reserva</h2>
        </div>

        <table class="table table-striped table-hover align-middle">
            <thead class = "table-dark">
              <tr>
                <th scope="col1">Id_Usuario</th>
                <th scope="col2">Nombre</th>
                <th scope="col3">Apellido_Paterno</th>
                <th scope="col4">Apellido_Materno</th>
                <th scope="col5">Correo_Electronico</th>
                <th scope="col6">Contraseña</th>
                <th scope="col7">Telefono</th>
              </tr>
            </thead>
            <tbody>
              @for (usuario of usuarios; track usuario.idUsuario){
              <tr>
                <td> {{usuario.idUsuario}}</td>
                <td> {{usuario.nombre}}</td>
                <td> {{usuario.apellido_Paterno}}</td>
                <td> {{usuario.apellido_Materno}}</td>
                <td> {{usuario.correo_Electronico}}</td>
                <td> {{usuario.contrasena}}</td>
                <td> {{usuario.telefono}}</td>
              </tr>
            }
            </tbody>
          </table>
    </div>