<!-- <app-usuario-lista></app-usuario-lista> -->
<!-- <app-tour-lista></app-tour-lista> -->
<!-- <app-plantilla></app-plantilla> -->

<app-navbar></app-navbar>
<!-- Cuerpo de la pagina -->
<main>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro producto</h2>
    <app-cards></app-cards>
  </section>

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Galería de Fotos</h2>
      <div class="galeria-port">
        <div class="imagen-port my-3">
          <img src="assets\img\HierveAgua-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 1</p>
          </div>
        </div>
        <div class="imagen-port my-3">
          <img src="assets\img\MonteAlban-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 2</p>
          </div>
        </div>
        <div class="imagen-port my-3">
          <img src="assets\img\PersonaGuia-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 3</p>
          </div>
        </div>
        <div class="imagen-port my-3">
          <img src="assets\img\MonteAlban2-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 4</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets\img\Zicatela-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 5</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets\img\LaReforma-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 6</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets\img\AguaTermal-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 7</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="assets\img\SanJose-Galery.jpg" alt="" />
          <div class="hover-galeria">
            <img src="assets/img/icono1.png" alt="" />
            <p>Fotografia 8</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clientes contenedor my-3">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img src="assets\img\ImgJuan.jpg" alt="" />
        <!-- Imprimimos solamente el usuario de la posicion 0  -->
        
        <div class="contenido-texto-card">
          <h4>Juan</h4>
          <p>
            "La pasión y el conocimiento del equipo de Oaxaca Dreams hicieron de
            nuestro viaje una aventura única. Nos sentimos seguros y bien
            cuidados durante todo el recorrido. La dedicación a la
            sostenibilidad y el respeto por la cultura local es verdaderamente
            admirable. ¡Altamente recomendado!"
          </p>
        </div>
        
      </div>
      <div class="card">
        <img src="assets\img\ImgIlian.jpg" alt="" />
        <!-- Imprimimos solamente el usuario de la posicion 1  -->
        
        <div class="contenido-texto-card">
          <h4>Iliam</h4>
          <p>
            "Oaxaca Dreams nos brindó una experiencia inolvidable. Desde la
            organización hasta la atención del guía, todo fue impecable. Nos
            encantó cómo combinan el turismo con la conservación del medio
            ambiente. Definitivamente volveremos para explorar más de Oaxaca con
            ellos."
          </p>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="assets/img/ilustracion1.svg" alt="" />
          <h3>Tours</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>
        <div class="servicio-ind">
          <img src="assets/img/ilustracion3.svg" alt="" />
          <h3>Guias Bilingües</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>

        <div class="servicio-ind">
          <img src="assets\img\ConductorCap.svg" alt="" />
          <h3>Conductores Capacitados</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>Celular</h4>
      <p>+52 951 105 5591</p>
    </div>
    <div class="content-foo">
      <h4>Correo Electronico</h4>
      <p>oaxacadreams&#64;gmail.com</p>
    </div>
    <div class="content-foo">
      <h4>Ubicación</h4>
      <p>
        Vicente Guerrero 105 Colonia Centro Centro, <br />
        68000 Oaxaca de Juárez, Oax.
      </p>
    </div>
  </div>
  <h6 class="titulo-final">Oaxaca ~ Dreams</h6>
</footer>

